<%- include('../partials/home_header'); %>
<meta charset="UTF-8" />

<body>
<main class="container">
    <div class="row align-items-md-stretch">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Trainer Certificate</h2>
            <h4>Fill your info before scheduling an appointment</h4>
        </div>
    </div>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid">
                <div class="container">
                    <!--trainer name-->
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="mb-3">
                                <label for="trainer_full_name" class="form-label">Full name</label>
                                <input required type="email" class="form-control" id="trainer_full_name" placeholder="Please enter your full name">
                            </div>
                        </div>
                    </div>

                    <!--years of training field-->
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="mb-3">
                                <label for="trainer_years_of_training" class="form-label">Years of training</label>
                                <input required type="number" class="form-control" id="trainer_years_of_training" placeholder="Please enter your years of training">
                            </div>
                        </div>
                    </div>
                </div>

                <!--submit button-->
                <div class="row">
                    <div class="col-md-2 offset-md-3">
                        <Button id="submit_button" class="btn btn-primary">Submit</Button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs'); %>
</main>

<script type="text/javascript" src="/scripts/trainerCertificateForm.js"></script>

