<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS Section -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <link href='/fullcalendar/main.css' rel='stylesheet' />

<!--sweet alert lib-->
  <link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.css">

</head>
<!--bootstrap-->
<script src="/bootstrap/dist/js/bootstrap.js"></script>

<!--jquery-->
<script src="/jquery/dist/jquery.js"></script>

<!--sweet alert lib-->
<script src="/sweetalert2/dist/sweetalert2.js"></script>

<!--fontawesome-->
<script defer src="/@fortawesome/fontawesome-free/js/brands.js"></script>
<script defer src="/@fortawesome/fontawesome-free/js/solid.js"></script>
<script defer src="/@fortawesome/fontawesome-free/js/fontawesome.js"></script>

<script src='/fullcalendar/main.js'></script>
