<%- include('../partials/wideHeader'); %>
<%- include('../partials/wideNav'); %>


<div class="bg-image" style="background-image: url('/images/twocourts.jpg');  height:100vh; ">
    <div class="container-fluid pt-5">
        <h1 class="display-1 p-5 text-center text-light font-weight-bold">Accounts</h1>
    </div>
    <div class="container pt-5">
        <div class="row pt-5">
            <div class="display-3 col-sm text-center text-light border">
              Secret
              <br><br><br>
              <a href='/seeker/secret'><button id='sec' type="button" class="mb-4 btn btn-outline-secondary">Enter Region</button></a>
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
          </div>
          <div class="col-sm">
          </div>
          <div class="col-sm">
          </div>
            <div class="display-3 col-sm text-center text-light border">
              Public
              <br><br><br>
              <a href='/seeker/notsecret'><button id='ext' type="button" class="mb-4 btn btn-outline-secondary">Enter Region</button></a>
              
            </div>
          </div>
      </div>
</div>


