

<head>
    <%- include('partials/home_header'); %>
    <%- include('partials/defaultNav'); %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Login</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">
</head>

<body class="text-center">
    <main class="form-signin">
            <img class="mb-4" src="/images/ball1.jpg" alt="" width="72" height="57">
            <h2 class="h3 mb-3 fw-normal">Welcome to Tennis Trainer Finder</h2>
            <h4 class="h5 mb-3 fw-normal">Please Sign In!</h4>

<!--            <div class="form-floating flex-md">-->

<!--                <input type="text" class="form-control d-inline-flex" name="username" placeholder="300111222">-->

<!--            </div>-->
<!--            <div class="form-floating">-->

<!--                <input type="password" class="form-control" name="password" placeholder="password">-->
<!--            </div>-->
<!--            <br />-->

                <div class="container">
                    <!--email field-->
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="mb-3">
                                <input required type="email" class="form-control" id="user_email" placeholder="Please enter your email">
                            </div>
                        </div>
                    </div>

                    <!--password field-->
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="mb-3">
                                <input required type="password" class="form-control" id="user_password" placeholder="Please enter your password">
                            </div>
                        </div>
                    </div>

                    <!--account type field-->
                    <div class="row">
                        <div class="col-md-6 offset-md-3 mb-3">
                            <select id="user_account_type" class="form-select">
                                <option selected value="Trainer">Trainer</option>
                                <option value="Trainer Seeker">Trainer Seeker</option>
                                <option value="Auditor">Auditor</option>
                                <option value="Admin">Admin</option>
                            </select>
                        </div>
                    </div>

                    <!--submit button-->
                    <div class="row">
                        <div class="col-md-4 offset-md-4">
                            <Button id="login_button" class="btn btn-primary">Login</Button>
                            <a class="offset-md-2" href="/forgetPassword">Forgot password?</a>
                        </div>
                    </div>
                </div>






    </main>

    <%- include('partials/footer.ejs'); %>
</body>
<script type="text/javascript" src="/scripts/login.js"></script>
